{% extends "bluus/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
        
        <section id="section">
            <div id="search_div">
                <form action="{% url 'bluus:search' %}" method="get">
                    {% csrf_token %}
                    <input id="search_bar" class="form-control mr-sm-2" name="q" type="text" placeholder="Search...">
                </form>
                <a class="nav-link" href="{% url 'bluus:new_post' %}"><button name="submit" class="btn btn-primary">Add a new post</button> </a>
            </div>
            
        </section> 
        {% for post in posts%}          
            <section id="section">
                {#The drop down menu botton #}
                {% if request.user  == post.owner %}
                    <div  class="dropdown  dropleft">
                        <a class="btn  btn-sm " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16"><path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/></svg></a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'bluus:edit_post' post.id %}"> Edit post</a>
                            <a class="dropdown-item" href="{% url 'bluus:delete_post' post.id %}"> Delete </a>
                        </div>
                    </div>
                {% endif %}
                            
                
                {% for profile in profiles %}
                    {% if post.owner == profile.owner %}
                        {% if profile.profile_pic %}
                            <a id ="user_name" href="{% url  'bluus:profile' post.owner.id %}" >  <img id="mini_dp" src="{{profile.profile_pic.url}}" />{{ post.owner.username}} </a> <br/>                    
                        {% endif %}
                    {% endif %}
                {% endfor %}
                
                <p id="date">{{ post.date_added|date:'M d, Y H:i' }}</p> <br/>
                
                             
                <p id="post">{{post}}</p> <br/>             
                <a href="{% url 'bluus:post' post.id %}">See more</a>
                                
                {% if post.pic %}                
                    <img id="post_pic" src = " {{post.pic.url}}">
                {% endif %}
                
                <p id="num_likes"><span id="num_likes_text" >{{post.num_of_likes}}</span> <img id="likes_pic" src="{% static 'pics/likes.jpeg' %}"/ > </p> 
                {% if request.user in post.liked_by.all %}
                    <a  href= "{% url 'bluus:like' post.id %}"> <img id="liked_pic" src="{% static 'pics/liked.png' %}"/ ><span id="liked_text" >Liked</span></a>
                {% else %}
                    <a  href= "{% url 'bluus:like' post.id %}"> <img id="like_pic" src="{% static 'pics/like.png' %}"/ ><span id="like_text" >Like</span></a>
                {% endif %}          
            </section>
        {% empty %}
            <p>There are no posts yet </p>
        {% endfor %}
{% endblock content %}
    

