{% extends "bluus/base.html" %}
{% load static %}

{% block content %}
    <article>
        <section id="dp_section">
            <img id="cover_photo" src ="{{user_profile.cover_photo.url}}"  /> <br/>
            <img id="dp" src="{{user_profile.profile_pic.url}}" />
            <p id="profile_name"> {{user.username}}</p>
            
            {% if request.user != user_profile.owner %}         
                {% if request.user in user_profile.followers.all %}                    
                    <div  id="follow_button"  class="f1_border"  ><a href="#"><p class="following" id="follow_text" data_user_id="{{user_profile.id}}">Following</p></a></div>
                {% else %}
                    <div  id="follow_button"  class="f2_border"  ><a href="#"><p class="follow"  id="follow_text" data_user_id="{{user_profile.id}}">Follow</p></a></div>
                {% endif %}
            {% endif %}
            
            {% if user_profile.bio %}
                 <p id="bio">{{user_profile.bio}} </p>
             {% endif %}
             <hr/>
             {% if request.user != user_profile.owner %}
                 <a  href= "{% url 'bluus:chat' user.id %}"><p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/></svg><span id="message_link" > Message</span><b></p></a>
             {% endif %}             
            
            <a  href= "{% url 'bluus:followers' user.id %}"><p id="num_followers">followers :<b id="followers_count"> {{user_profile.followers.count }} </b> </p> </a>
            
            <a  href= "{% url 'bluus:following' user.id %}"><p id="num_following">following: <b>{{user.follows.count}} </b></p></a>
                     
            {% if user_profile.city %}
                <p id="city" > Lives in {{user_profile.city}}</p>
            {% endif %}
            
            {% if user_profile.country %}
                <p id="country">From {{user_profile.country}}</p>
            {% endif %}
            
            {% if user_profile.relationship_status%}
                <p id="r_status" > Relationship Status:  {{user_profile.relationship_status}}</p>
            {% endif %}
            
            {% if user_profile.owner == request.user %}
                <a href="{% url 'bluus:edit_profile' user.id %}"> <span id="edit_pro">Edit Profile</span></a>
            {% endif %}
            <a href="{% url 'bluus:profile_details' user.id%}"><span id="see_more">See More</span></a>
                              
        </section>
        
        {#The idea here is to reuse the code that displays posts in index.htm. It will display only the user's posts cos that's what the  profile view  passes unto it#}
        
        {% for post in user_posts%}
            <section id="section">
                {#The drop down menu botton #}
                {% if request.user  == post.owner %}
                    <div class="dropdown  dropleft">
                        <a class="btn  btn-sm " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16"><path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/></svg></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'bluus:edit_post' post.id %}"> Edit post</a>
                            <a class="dropdown-item" href="{% url 'bluus:delete_post' post.id %}"> Delete </a>
                        </div>
                    </div>
                {% endif %}
                
                {% for profile in profiles %}
                    {% if post.owner == profile.owner %}
                        {% if profile.profile_pic %}
                            <a id ="user_name" href="{% url  'bluus:profile' post.owner.id %}" >  <img id="mini_dp" src="{{profile.profile_pic.url}}" />{{ post.owner.username}} </a> <br/>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                
                <p id="date">{{ post.date_added|date:'M d, Y H:i' }}</p> <br/> <p id="post">{{post}}</p> <br/>             
                <a href="{% url 'bluus:post' post.id %}">See more</a>
            
                {% if post.pic %}                
                    <img id="post_pic" src = " {{post.pic.url}}">
                {% endif %}
                <p id="num_likes"><span class="num_likes_text"  id="{{post.id}}">{{post.num_of_likes}}</span> <img id="likes_pic" src="{% static 'pics/likes.jpeg' %}"/ > </p>
                {% if request.user in post.liked_by.all %}
                    <span  id="like_button" data-catid="{{ post.id }}"> <img class="liked_pic" id="like_pic{{post.id}}" src="{% static 'pics/liked.png' %}"/ ></span>
                {% else %}
                    <span id="like_button" data-catid="{{post.id}}"> <img class="like_pic" id="like_pic{{post.id}}" src="{% static 'pics/like.png' %}"/ ></span>
                {% endif %}          
            </section>
        {% empty %}
            <p>There are no posts yet </p>
        {% endfor %}
        

    </article>
    
    {% csrf_token %}  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                                           
    <script>
        $(document).on('click', '#follow_text', function (e) {
            e.preventDefault();
            var user_id;
            user_id= $(this).attr("data_user_id");
            $.ajax({
                type: 'POST',
                url: '{% url "bluus:follow" %}',
                data: {
                    profile_id:user_id,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById("followers_count").innerHTML = json['result'];
                        
                    if (json["state"] == "following"){
                        document.getElementById("follow_text").innerHTML="Following";
                         document.getElementById("follow_button").style.width="80px"
                            
                    }else{
                        document.getElementById("follow_text").innerHTML="Follow";
                        document.getElementById("follow_button").style.width="55px"                 
                    }                    
                },
                error: function (xhr, errmsg, err) {
        
                }
            });
        })  
    </script>
    
    <script>
        $(document).on('click', '#like_button', function (e) {
            e.preventDefault();
            var catid;
            catid = $(this).attr("data-catid");
            $.ajax({
                type: 'POST',
                url: '{% url "bluus:like" %}',
                data: {
                    postid: catid,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById(catid).innerHTML = json['result']
                    if (json["pic"] == "liked"){
                        document.getElementById('like_pic'+catid).src="{% static 'pics/liked.png' %}"
                    }else{
                        document.getElementById('like_pic'+catid).src="{% static 'pics/like.png' %}"                    
                    }                    
                },
                error: function (xhr, errmsg, err) {
        
                }
            });
        })  
    </script>
    
{% endblock content %}
        